{% extends themes %}



{% block body %}

<form action="{{ path('links_bulklinks_filter') }}" method="get">
{{ form_widget(form) }}
</form>

<script>
    $(document).ready(function(){
        $('button').click(function(){
            $('form').submit();
        });
    });
</script>

{% endblock %}