{% extends themes %}


{% block body %}


    <h2>Manage Links</h2>
    <br/>


    <a href="{{ path('links_bulklinks_upload') }}">Upload Bulk Links</a>
    <br/>
    <a href="{{ path('links_bulklinks_view') }}">View Bulk Links</a>
    <br/>


{% endblock %}